# Importing Required Libraries :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv(r"C:\Users\PRIYAM\Desktop\Techno Hacks\Email_Spam\spam.csv"
                ,encoding = "ISO-8859-1")

In [4]:
# First 10 rows

df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [5]:
#finding null values

df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [6]:
#dropping null values

df1 = df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"], axis=1)

In [7]:
df1

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
df["v1"].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [9]:
df1.rename(columns = {"v1" : "Spam or Ham", "v2":"Mail Message"},inplace = True)
df1.head()

  Spam or Ham                                       Mail Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
df1.shape

(5572, 2)

In [11]:
#Converting the categorical values into numerical values

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df1['Spam or Ham'] = encoder.fit_transform(df1['Spam or Ham'])

In [12]:
#Finding duplicates

df1.duplicated().sum()

403

In [13]:
#dropping duplicates

df1 = df1.drop_duplicates(keep = 'first')

In [14]:
df1.duplicated().sum()

0

# Splitting The Data :

In [15]:
#Splitting the data

X =  df1["Mail Message"]
y =df1["Spam or Ham"]

In [16]:
#Splitting the data into training and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 0)

In [17]:
X_train

4163                  Its ok, called mom instead have fun
2253                         Lol enjoy role playing much?
1309              Ok, be careful ! Don't text and drive !
1046    Do 1 thing! Change that sentence into: \Becaus...
3521    Im sorry bout last nite it wasnåÕt ur fault it...
                              ...
5307                              What you did in  leave.
3455                         Ok. I.ll do you right later.
1708    How's my loverboy doing ? What does he do that...
2730                         I havent lei.. Next mon can?
2871                                      See you there!
Name: Mail Message, Length: 3618, dtype: object

In [18]:
y_train

4163    0
2253    0
1309    0
1046    0
3521    0
       ..
5307    0
3455    0
1708    0
2730    0
2871    0
Name: Spam or Ham, Length: 3618, dtype: int32

# Conversion of Text data to Matrix Token :

In [19]:
# Convert the text data into a matrix of token counts
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_train_count = cv.fit_transform(X_train.values)
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# ML Model :

In [20]:
#Fitting multinomial naive bayes 

from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [21]:
from sklearn.metrics import confusion_matrix , recall_score , precision_score
from sklearn.metrics import accuracy_score

In [22]:
#Testing  the mail (spam/ham)

mail_ham = ['Same. Wana plan a trip sometme then']
mail_ham_count = cv.transform(mail_ham)
y_pred = model.predict(mail_ham_count)
y_pred

array([0])

In [23]:
mail_ham_count

<1x7025 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

# Results :

In [24]:
#finding accuracy of the training dataset
model.score(X_train_count,y_train)

0.9936428966279712

In [25]:
#finding accuracy of the test dataset
X_test_count = cv.transform(X_test)
model.score(X_test_count,y_test)

0.9832366215344939

**THANK YOU**